@media  screen and (min-width: 768px) {
    .logo {
    width: 50px;
    }

    .advert-img {
        max-width: 50%;
        height: 30%;
    }
    .menu-section, .store-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--secondary-green);
        padding-top: 10px;
        margin-bottom: 50px;
    }
    .menu-div, .store-div {
        padding-top: 30px;
        margin-bottom: 0;
    }
    .heading {
        font-size: 2rem;
    }

    .paragraph {
        font-size: 1.7rem;
    }

     /* Join Section */

    .join-section, .learn-section {
        flex-direction: row;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        background-color: var(--light-font-color);
    }

    .join-div, .learn-div {
        padding-top: 40px;
       margin-bottom: 0;
    }

    .join-section h1{
        font-size: 1.7rem;
    }

    .join-section p{
        font-size: 1.4rem;
    }

    .learn-section {
        background-color: var(--main-green);
    }

} 

@media screen and (min-width: 780px) {
    .social-links, .legal-footer-links {
        margin-left: 20px;
    }

}


    @media screen and (min-width: 1024px) {

       .menu-div, .store-div,.join-div, .learn-div {
        padding-top: 120px;
        padding-bottom: 140px;
        
    }

    .top-footer {
      display: flex;
      justify-content: space-evenly;
    }

    .top-footer div {
        width: 150px;
         margin-bottom: 30px;
          margin-top: 20px;
    }

    .footer-header {
        padding: 0;
        margin-bottom: 30px;
    }

    .footer-header h2 {
       font-size: 1.2rem;
    }

    .footer-header img {
       display: none;
     }

    .footer-modal {
        display: flex;
        flex-direction: column;
        padding: 0;
         line-height: 1.3;
    }

    .footer-modal a {
    margin-bottom: 35px;
}


    }

    @media screen and (min-width: 1280px) {
        .learn-section, .join-section, .menu-section, .store-section {
            padding-top: 0;
        }

        .TandCs-paragraph {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 700;
        }

        .social-links img {
            width: 50px;
        }
    }

    @media  screen and (min-width: 1440px) {
        main {
            width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }

        .TandCs-paragraph {
            width: 700px;
          
        }
    }
    