:root {
     --main-color: #2A2A2A;
     --light-font-color: #F7F0E4;
     --main-green: #006242;
     --secondary-green: #32462F;
     
}


html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #fffdfa;
    font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Nav Bar */ 

.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-bottom: 2px solid black; */
    box-shadow: 1px 0px 5px 0.3px rgba(0, 0, 0, 0.356);
}

.logo-div {
    padding-left: 10px;
}

.logo {
    width: 30px;
}

.hamburger {
    padding-right: 20px;
}

.hamburger-btn {
    border: none;
    background-color: #fffdfa;
    width: 25px; 
}

.hamburger-btn img {
    width: 30px;
    color: #3b3b3b;
    
}
/* Hidden For mobile display */
.mobile-div {
    display: none;
}

main {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.advert-img {
display: block;
  width: 100%;       
  height: auto;   
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.menu-div, .join-div, .store-div, .learn-div {
    height: auto;
    padding: 25px;
    margin-bottom: 50px;
}

.heading {
    font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.action-btn {
    border-radius: 50px;
    border-width: 1px;
    box-shadow: none;
    outline: none;
    margin-bottom: 20px;
    width: 150px;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
}

/* Menu Section and store section */

.menu-div, .store-div {
    background-color: var(--secondary-green);
    color: var(--light-font-color);
}

.menu-btn, .store-btn {
     background-color: var(--secondary-green);
     border-color: var(--light-font-color);
      color: var(--light-font-color);
}

/* Join Section */

.join-section {
    display: flex;
    flex-direction: column;
}

.join-div {
    order: 2;
    background-color: var(--light-font-color);
    color: var(--main-green);
}

.join-btn {
     background-color: var(--light-font-color);
     border-color: var(--main-green);
      color: var(--main-green);
}

/* Learn div */

.learn-section {
    display: flex;
    flex-direction: column;
}

.learn-div {
    order: 2;
    background-color: var(--main-green);
    color: var(--light-font-color);
}

.learn-btn {
     background-color: var(--main-green);
     border-color: var(--light-font-color);
      color: var(--light-font-color);
}

/* T's and C's */

.TandCs-paragraph {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.9em;
    line-height: 1.8;
    color: var(--main-color);
}

/* Top Footer */

hr {
     margin: 0 auto;
     border: none;
    border-top: 1px solid #ccc;
    box-shadow: 1px 0px 5px 0.3px rgba(112, 112, 112, 0.356);
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.footer-header h2 {
     font-size: 1rem;
     color: #3b3b3b;
     font-weight: 550;
}

.footer-header img {
    width: 25px;
}

.footer-modal {
    display: none;
    flex-direction: column;
    padding: 20px;
    line-height: 3;

}

.footer-modal a {
    text-decoration: none;
    color: #575757;
}

.footer-modal a:hover {
    color: #080808;
}

footer hr {
    width: 90%;
    margin: 0 auto;
     border: none;
    border-top: 1px solid #ccc;
    box-shadow: 1px 0px 5px 0.3px rgba(112, 112, 112, 0.356);
}
/* bottom footer */

.bottom-footer {
    margin-top: 50px;
}

.social-links img {
    width: 35px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.expand {
    animation: expand 0.5s ease forwards;
    
}

.collapse {
     animation: collapse 0.5s ease forwards;
} 

@keyframes expand {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes collapse {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.legal-footer-links {
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 3;
}
.legal-footer-links a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 0.9em;
    font-weight: 600;
}

.copyright {
   font-size: 0.9rem;
   color: #686868;
   display: flex;
   justify-content: center;
}